<link rel="stylesheet" type="text/css" href="./keyboard-buttons.css">
<div>
  <div class="btn-group">
    <button id="buttonA" type="button" class="btn btn-primary" value="A">A</button>
    <button id="buttonB" type="button" class="btn btn-primary" value="B" onclick="submittedLetter(this.id,this.value)">B</button>
    <button id="buttonC" type="button" class="btn btn-primary" value="C" onclick="submittedLetter(this.id,this.value)">C</button>
    <button id="buttonD" type="button" class="btn btn-primary" value="D" onclick="submittedLetter(this.id,this.value)">D</button>
    <button id="buttonE" type="button" class="btn btn-primary" value="E" onclick="submittedLetter(this.id,this.value)">E</button>
    <button id="buttonF" type="button" class="btn btn-primary" value="F" onclick="submittedLetter(this.id,this.value)">F</button>
    <button id="buttonG" type="button" class="btn btn-primary" value="G" onclick="submittedLetter(this.id,this.value)">G</button>
    <button id="buttonH" type="button" class="btn btn-primary" value="H" onclick="submittedLetter(this.id,this.value)">H</button>
    <button id="buttonI" type="button" class="btn btn-primary" value="I" onclick="submittedLetter(this.id,this.value)">I</button>
    <button id="buttonJ" type="button" class="btn btn-primary" value="J" onclick="submittedLetter(this.id,this.value)">J</button>
  </div><br>
  <div class="btn-group">
    <button id="buttonK" type="button" class="btn btn-primary" value="K" onclick="submittedLetter(this.id,this.value)">K</button>
    <button id="buttonL" type="button" class="btn btn-primary" value="L" onclick="submittedLetter(this.id,this.value)">L</button>
    <button id="buttonM" type="button" class="btn btn-primary" value="M" onclick="submittedLetter(this.id,this.value)">M</button>
    <button id="buttonN" type="button" class="btn btn-primary" value="N" onclick="submittedLetter(this.id,this.value)">N</button>
    <button id="buttonO" type="button" class="btn btn-primary" value="O" onclick="submittedLetter(this.id,this.value)">O</button>
    <button id="buttonP" type="button" class="btn btn-primary" value="P" onclick="submittedLetter(this.id,this.value)">P</button>
    <button id="buttonQ" type="button" class="btn btn-primary" value="Q" onclick="submittedLetter(this.id,this.value)">Q</button>
    <button id="buttonR" type="button" class="btn btn-primary" value="R" onclick="submittedLetter(this.id,this.value)">R</button>
    <button id="buttonS" type="button" class="btn btn-primary" value="S" onclick="submittedLetter(this.id,this.value)">S</button>
  </div><br>
  <div class="btn-group">
    <button id="buttonT" type="button" class="btn btn-primary" value="T" onclick="submittedLetter(this.id,this.value)">T</button>
    <button id="buttonU" type="button" class="btn btn-primary" value="U" onclick="submittedLetter(this.id,this.value)">U</button>
    <button id="buttonV" type="button" class="btn btn-primary" value="V" onclick="submittedLetter(this.id,this.value)">V</button>
    <button id="buttonW" type="button" class="btn btn-primary" value="W" onclick="submittedLetter(this.id,this.value)">W</button>
    <button id="buttonX" type="button" class="btn btn-primary" value="X" onclick="submittedLetter(this.id,this.value)">X</button>
    <button id="buttonY" type="button" class="btn btn-primary" value="Y" onclick="submittedLetter(this.id,this.value)">Y</button>
    <button id="buttonZ" type="button" class="btn btn-primary" value="Z" onclick="submittedLetter(this.id,this.value)">Z</button>
  </div><br>
</div>
