heading {
  text-align: center;
  margin-bottom: 5px;
}
topics {
  text-align: center;
}
keyboard-buttons{
  text-align: center;
}
.main-wrap {
  margin-top: 30px;
}
.word {
  text-align: center;
  margin: 5px;
}
