<link rel="stylesheet" type="text/css" href="./topics.css">
<div>
  <button type="button" class="btn btn-default">Animals</button>
  <button type="button" class="btn btn-default">Adjectives</button>
  <button type="button" class="btn btn-default">Technology</button>
  <button type="button" class="btn btn-default">Food</button>
  <button type="button" class="btn btn-default">Animals</button>
  <button type="button" class="btn btn-default">Adjectives</button>
  <button type="button" class="btn btn-default">Technology</button>
  <button type="button" class="btn btn-default">Food</button>
</div>
